<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.LoginSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.UpdateCustomerViewSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.DepositSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.WithdrawSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposeTransferServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.ProposeTransferSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelTransferServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.CancelTransferSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveTransferServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.ApproveTransferSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewAccountServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.CreateNewAccountSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.ViewTransactionsSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewPendingAccountsServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.ViewPendingAccountsSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewCustomerInformationServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.ViewCustomerInformationSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeViewServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.UpdateEmployeeViewSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApprovePendingAccountServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.ApprovePendingAccountSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejectPendingAccountServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.RejectPendingAccountSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.LogoutSrv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.revature.projectone.servlets.RegisterSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/updateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposeTransferServlet</servlet-name>
    <url-pattern>/proposeTransfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelTransferServlet</servlet-name>
    <url-pattern>/cancelTransfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveTransferServlet</servlet-name>
    <url-pattern>/approveTransfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewAccountServlet</servlet-name>
    <url-pattern>/createNewAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <url-pattern>/viewTransactions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewPendingAccountsServlet</servlet-name>
    <url-pattern>/viewPendingAccounts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCustomerInformationServlet</servlet-name>
    <url-pattern>/viewCustomerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeViewServlet</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApprovePendingAccountServlet</servlet-name>
    <url-pattern>/approvePendingAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejectPendingAccountServlet</servlet-name>
    <url-pattern>/rejectPendingAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>


